@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* GENERAL STYLING */

:root {
  --primary-color: #333;
  --secondary-color: #ff5c33;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0 5%;
}

h1 {
  margin: 3rem 0 5rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 3rem;
  margin-left: 1rem;
}

/* forms */
.form-group {
  margin: 0.5rem 0;
}

form button {
  margin-top: 1rem;
  font-size: 16px;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}

form button:hover {
  cursor: pointer;
}

form input[type="text"] {
  font-size: 14px;
  height: 28px;
  border-radius: 3px;
}

/* navigation */
nav {
  display: flex;
  min-height: 50px;
  background-color: var(--primary-color);
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--secondary-color);
  font-weight: 550;
  transition: 0.2s;
}

nav ul li a:hover {
  color: #fff;
}

/* icons */
.fa-solid.fa-note-sticky {
  color: #fff;
}

/* HOME PAGE STYLING */

#add-note-btn {
  background-color: var(--primary-color);
  color: #fff;
}

#add-note-btn:hover {
  background-color: #4d4d4d;
}
